* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(./img/header-background-1.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    height: 50rem;
    width: 100%;
}

#header .logo {
    margin-left: 1.9rem;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    float: left;
}

#header .top-nav {
    float: right;
    margin-right: 4rem;
}

#header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 2rem;
}

#header img {
    margin-right: 2rem;
}

#header .dropdown {
    border-right: 2px solid white;
    margin-right: 0.5rem;
    margin-top: 4rem;
    padding-right: 1rem;
}

#header img:hover,
#header img:active {
    cursor: pointer;
}

#header .center {
    color: white;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}