* {
    margin: 0 auto;
    padding: 0;
}

header {
    background-image: url(./img/header-background-1.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    height: 50rem;
}

#top-nav .logo {
    margin-left: 2rem;
    margin-top: 2rem;
}

#top-nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

#top-nav .border-right {
    border-right: 1px solid white;
    margin-right: 0.5rem;
    padding-right: 0.3rem;
}