* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    margin: 0;
    padding: 0;
    background: url("./img/header-background.jpg") center/cover no-repeat border-box;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #292A2B;
    height: 78vh;
}

#header .inline {
    display: flex;
}

#header .logo {
    margin-left: 1.9rem;
    margin-top: 1.5rem;
}

#header .top-nav {
    margin-top: 4rem;
    margin-right: 4rem;
}

#header a {
    margin-right: 2rem;
    color: white;
}

#header img {
    margin-right: 2rem;
}

#header .dropdown {
    border-right: 2px solid white;
    margin-right: 0.5rem;
    margin-top: 4rem;
    padding-right: 1rem;
}

#header img:hover,
#header img:active {
    cursor: pointer;
}

#header .center {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#info {
    display: flex;
    flex-direction: row;
    margin-top: 15rem;
    height: 3rem;
    font-weight: 100;
}

#info .info-display {
    display: flex;
    color: white;
}

#info .info-display p {
    margin-right: 2rem;
}

#info .info-display p span {
    font-size: 3rem;
}

#info .info-display img:hover,
#info .info-display img:active {
    cursor: default;
}

#navbar {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background: #3F3F3F;
}

#navbar a {
    margin: 0.5rem;
    padding: 1.7rem;
    border-spacing: 15px;
    color: white;
}

#navbar a:hover, 
#navbar a:active {
    border-bottom: 6px solid yellow;
}

#login {
    margin: 0;
    padding: 0;
    background-image: url(./img/login-backgroud.jpg);    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 62vh;
}

#login .login-title {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding-top: 4rem;
}

#login .login-title h1 {
    margin-bottom: 1.5rem;
}

#login .login {
    margin-left: 20%;
    margin-top: 6rem;
}

#login .login-fields {
    display: flex;
    margin-top: 1.5rem;
}

#login .login-fields input,
#login .login-fields option,
#login .login-fields select,
#login .login-fields button {
    margin-left: 0;
    margin-right: 3rem;
    background-color: transparent;
    color: yellow;
    font-weight: bold;
    border: 2px solid yellow;
    height: 3.3rem;
    width: 20rem;
}

#login .login .login-fields .captcha {
    width: 14rem;
}

#login .login-fields img {
    margin: 0;
    border: 2px solid yellow;
    border-right: none;
    height: 3.3rem;
}

#login .login-fields option {
    background: #333232;
    border: 1px solid white;
}

#login .login-fields select:hover {
    cursor: pointer;
}

#login .login .login-fields .time:hover {
    cursor: pointer;
}

#login .login-fields button {
    background-color: yellow;
    color: #292A2B;
    border: none;
    height: 3.6rem;
    width: 20.3rem;
}

#login .login-fields button:hover,
#login .login-fields button:active {
    background-color:#292A2B;
    color: yellow;
    cursor: pointer;
}

#login .login-fields input::placeholder {
    color: yellow;
    padding-left: 10px;
}

#footer {
    display: flex;
}